# macOS
.DS_Store
.AppleDouble
.LSOverride

# Hammerspoon
*.log

# Development
*.backup
*.bak
*.tmp
*~

# Testing
test*.lua
debug*.lua
*_test.sh
tmp-npm-cache/
.busted
luacov.*

# IDE
.vscode/
.idea/

# Luarocks/Build
/lua_modules/
/rock_dest/
*.rock
*.rockspec.lock

# Temporary files
/tmp/
*.wav

#Privat
.github
